<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-examplehash" crossorigin="anonymous" /> -->
    <meta name="description" content="An online platform that connects doctors to locums and locums to doctors as well as connects clients to doctors through teleconsults.">
    <meta name="author" content="Theodore Amegashie">

    <script src="https://kit.fontawesome.com/b7b6c15892.js" crossorigin="anonymous"></script>

    {% load static %}
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/search_doctor.jpeg' %}">
    <title>{% block title %}{% endblock %} | LocumCentrale</title>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <div id="logo_and_name">
                <img src="{% static 'images/search_doctor.jpeg' %}" alt="logo" style="width:50px; height: 50px;">
            </div>
            <div id="logo_and_name" class="name" style="top: 10px;">
                <a href="/" class="name">Locum Centrale</a>
            </div>
        </div>

        <!--upper-right nav-bar-->
        <div class="icon-badge-group">
            <div class="icon-badge-container">
                <a href="{% url 'slots:locums' %}" class="text-lg font-semibold hover:text-gray-500">Locums</a>
                <div class="icon-badge" id="slots_count">{{ locums.count }}</div>
            </div>
            <div class="icon-badge-container">
                <a href="{% url 'slots:teleconsults' %}"
                    class="text-lg font-semibold hover:text-gray-500">Teleconsults</a>
                <div class="icon-badge" id="tele_count">{{ teleconsults.count }}</div>
            </div>

            {% if request.user.is_authenticated %}
                <div class="icon-badge-container">
                    <div class="dropdown">
                        <!-- <a class="dropdown-toggle" id="postJobDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Post Job
                        </a> -->
                        <div id="postJobDropdown" data-bs-toggle="dropdown">
                            <a href="#"
                                class="customButtonsBase" id="customGreenButtons">Post Job</a>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="postJobDropdown">
                            <li><a class="dropdown-item" href="{% url 'slots:post_locum' %}">Post Locum</a></li>
                            <li><a class="dropdown-item" href="{% url 'slots:post_teleconsult' %}">Post Teleconsult</a></li>
                        </ul>
                    </div>
                </div>

                <div class="icon-badge-container">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle avatar-icon"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'users:detail' request.user.username %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="icon-badge-container">
                    <a href="{% url 'account_login' %}" class="customButtonsBase" id="customGrayButtons">Log In</a>
                </div>
                <div class="icon-badge-container">
                    <a href="{% url 'account_signup' %}"
                    class="customButtonsBase" id="customGreenButtons">Sign
                        Up</a>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="py-6 px-6 flex justify-between bg-gray-800">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>

            <p class="text-lg text-gray-500">A centralised, well-coordinated realtime locum dashboard for doctors,
                employers and clients.</p>
        </div>
        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

            <ul class="space-y-2">
                <li><a href="#" class="text-sm text-teal-500 hover:text-teal-700">About</a></li>
                <li><a href="#" class="text-sm text-teal-500 hover:text-teal-700">Contact</a></li>
                <li><a href="#" class="text-sm text-teal-500 hover:text-teal-700">Privacy Policy</a></li>
                <li><a href="#" class="text-sm text-teal-500 hover:text-teal-700">Terms of Use</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
