{% extends "account/base.html" %}

{% load static %}

{% block extra_head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mt-4">{% translate "Sign Up" %}</h1>

      <div class="text-center mt-3">
        <p>{% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}" class="text-blue">sign in</a>.{% endblocktranslate %}</p>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group" id="id_first_name">
              {{ form.first_name|as_crispy_field }}
            </div>

            <div class="form-group" id="id_last_name">
              {{ form.last_name|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.username|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.email|as_crispy_field }}
            </div>

            <div class="form-group" id="id_register_as">
              {{ form.register_as|as_crispy_field }}
            </div>

            <div class="form-group" id="mdc-registration-no-field" {% if form.register_as.value != "doctor" and form.register_as.value != "pa" %}style="display: none;"{% endif %}>
              {{ form.mdc_registration_no|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.password1|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.password2|as_crispy_field }}
            </div>

            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div id="verification_status" class="text-center mt-4" style="display: none;">
              <p id="verification_text"></p>
            </div>

            <div class="text-center mt-4">
              <button class="btn btn-primary btn-teal" id="signup_button" type="submit" disabled>{% translate "Sign Up" %} &raquo;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var registerAsField = document.getElementById("{{ form.register_as.id_for_label }}");
  var mdcRegistrationField = document.getElementById("mdc-registration-no-field");
  var signupForm = document.getElementById("signup_form");
  var signupButton = document.getElementById("signup_button");
  var verificationStatus = document.getElementById("verification_status");
  var verificationText = document.getElementById("verification_text");

  function toggleMdcRegistrationField() {
    if (registerAsField.value === "Doctor" || registerAsField.value === "PA") {
      mdcRegistrationField.style.display = "block";
    } else {
      mdcRegistrationField.style.display = "none";
    }
  }

  registerAsField.addEventListener("change", toggleMdcRegistrationField);
  toggleMdcRegistrationField();

  $(document).ready(function() {
    var signupButton = document.getElementById("signup_button");
    var verificationStatus = document.getElementById("verification_status");
    var verificationText = document.getElementById("verification_text");

    // Fetch user inputs
    function verifyFormFields() {
      var formData = $(signupForm).serialize();

      // Extract the values from the formData string
      var formParams = $.param($(signupForm).serializeArray());
      var params = {};
      $.each(formParams.split("&"), function(n, param) {
        var parts = param.split("=");
        params[parts[0]] = decodeURIComponent(parts[1]);
      });

      var firstName = params["first_name"];
      var lastName = params["last_name"];
      var category = params["register_as"];
      var mdcNumber = params["mdc_registration_no"];
      var fullName = firstName + ' ' + lastName;

      if ((category === 'Doctor' || category === 'PA') && fullName && mdcNumber && mdcNumber.length === 12) {
        verificationStatus.style.display = 'block';
        // verificationText.innerHTML = 'Verifying...';
        verificationText.innerHTML = '<span style="color: black; font-weight: normal;"> Verifying... </span>';
        signupButton.disabled = true;

        $.ajax({
          url: "{% url 'users:verify_mdc_details' %}",
          type: 'POST',
          data: {
            first_name: firstName,
            last_name: lastName,
            user_type: category,
            mdc_number: mdcNumber,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function(response) {
            if (response.status === 'Verified as a Doctor' || response.status === 'Verified as a PA') {
              verificationText.innerHTML = '<span class="verified"> Verified <i class="fas fa-check-circle"></i></span>';
              verificationText.classList.remove("error");
              signupButton.disabled = false;
            } else {
              verificationText.innerHTML = 'Verification Failed';
              verificationText.classList.add("error");
              signupButton.disabled = true;
            }
            // verificationText.innerHTML = response.status;  // Add this line to display the status value
          },

          error: function(xhr, status, error) {
            verificationText.innerHTML = 'An error occurred during verification.';
            signupButton.disabled = true;
          }
        });
      } else if ((category === 'Doctor' || category === 'PA') && fullName && mdcNumber && mdcNumber.length !== 12) {
        verificationStatus.style.display = 'block';
        verificationText.innerHTML = 'Wrong MDC Number';
        verificationText.classList.add("error");
        signupButton.disabled = true;
      } else {
        verificationStatus.style.display = 'none';
        verificationText.innerHTML = '';
        signupButton.disabled = false;
      }
    }

  $('#id_first_name, #id_last_name, #id_register_as, #mdc-registration-no-field').on('input', verifyFormFields);

  // Trigger initial verification on page load
  verifyFormFields();
});




</script>
{% endblock %}
