{% extends "account/base.html" %}

{% load static %}

{% block extra_head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyQ7wYH3F86HLIXwYRLO1cXXCMgCD2PDMYtB6GgLj+aJUEFPCv5cBke0P0JWd2ti" crossorigin="anonymous"></script>
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mt-4">{% translate "Sign Up" %}</h1>

      <div class="text-center mt-3">
        <p>{% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}" class="text-blue">sign in</a>.{% endblocktranslate %}</p>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group" id="id_first_name">
              {{ form.first_name|as_crispy_field }}
            </div>

            <div class="form-group" id="id_last_name">
              {{ form.last_name|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.username|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.email|as_crispy_field }}
            </div>

            <div class="form-group" id="id_register_as">
              {{ form.register_as|as_crispy_field }}
            </div>

            <div class="form-group" id="mdc-registration-no-field" {% if form.register_as.value != "doctor" and form.register_as.value != "pa" %}style="display: none;"{% endif %}>
              {{ form.mdc_registration_no|as_crispy_field }}
            </div>

            <!-- <div class="form-group" id="mdc-registration-no-field" style="display: none;">
              {{ form.mdc_registration_no|as_crispy_field }}
            </div> -->

            <div class="form-group">
              {{ form.password1|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.password2|as_crispy_field }}
            </div>

            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="text-center mt-4">
              <button class="btn btn-primary btn-teal" id="signup_button" type="submit" disabled>{% translate "Sign Up" %} &raquo;</button>
            </div>
          </form>

          <div id="verification_status" class="text-center mt-4" style="display: none;">
            <p id="verification_text">Verifying...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var registerAsField = document.getElementById("{{ form.register_as.id_for_label }}");
  var mdcRegistrationField = document.getElementById("mdc-registration-no-field");
  var signupForm = document.getElementById("signup_form");
  var signupButton = document.getElementById("signup_button");
  var verificationStatus = document.getElementById("verification_status");
  var verificationText = document.getElementById("verification_text");

  function toggleMdcRegistrationField() {
    if (registerAsField.value === "doctor" || registerAsField.value === "pa") {
      mdcRegistrationField.style.display = "block";
    } else {
      mdcRegistrationField.style.display = "none";
    }
  }

  registerAsField.addEventListener("change", toggleMdcRegistrationField);
  toggleMdcRegistrationField();

  function verifyFormFields() {
    var firstName = $("#id_first_name").val();
    var lastName = $("#id_last_name").val();
    var category = $("#id_register_as").val();
    var mdcNumber = $("#mdc-registration-no-field").val();
    var fullName = firstName + " " + lastName;

    if ((category === "doctor" || category === "pa") && fullName && mdcNumber) {
      verificationStatus.style.display = "block";
      verificationText.innerText = "Verifying...";
      signupButton.disabled = true;

      $.ajax({
        url: "{% url 'users:verify_mdc_details' %}",
        type: "POST",
        data: {
          full_name: fullName,
          category: category,
          mdc_number: mdcNumber,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(response) {
          verificationText.innerText = response.message;
          if (response.verified) {
            signupButton.disabled = false;
          } else {
            signupButton.disabled = true;
          }
        },
        error: function(xhr, status, error) {
          verificationText.innerText = "An error occurred during verification.";
          console.error(error);
          signupButton.disabled = true;
        },
        complete: function() {
          signupForm.submit(); // Submit the form after verification is complete
        }
      });
    } else {
      verificationStatus.style.display = "none";
      signupButton.disabled = true;
    }
  }

  $("#id_first_name, #id_last_name, #id_register_as, #mdc-registration-no-field").on("input", verifyFormFields);
  verifyFormFields();
</script>

{% endblock %}
