

{% extends "base.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card custom-card-width text-center">
        <div class="card-header">
          <h4 class="mb-0">My Profile</h4>
          <a href="#" class="edit-icon"><i class="fas fa-edit"></i></a>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <i class="fas fa-user-circle user-avatar"></i> <!-- Increased size of avatar icon -->
          </div>
          <h5 class="card-title mt-5">
            {% if user.register_as.lower == "doctor" %}Dr. {% endif %}{{ user.first_name }} {{ user.last_name }}{% if user.verification_status %}
            <i class="fas fa-check-circle text-success"></i>{% endif %}
          </h5>
          <p class="card-text"><span class="label-bold">Username:</span> {{ user.username }}</p>
          <p class="card-text"><span class="label-bold">Email:</span> {{ user.email }}</p>
          <p class="card-text"><span class="label-bold">User Type:</span> {{ user.register_as.capitalize }}</p>
          <p class="card-text"><span class="label-bold">Date Joined:</span> {{ user.date_joined }}</p>
          <!-- <p>{{ user.verification_status }}</p>
          <p>{{ user.contact }}</p>
          <p>{{ user.register_type }}</p>
          <p>{{ user.date_of_provisional_reg }}</p>
          <p>{{ user.category }}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
